td.active_time_logging {
 color: rgb(12, 167, 5);
}

tbody#tracked_times {
	text-align: center;
}

a.edit_button {
	background-image: url('../../../images/ticket_edit.png');
	background-position: 0% 40%;
	background-repeat: no-repeat;
	padding-left: 20px;
}